{
{%- if docker__default_daemon_json | default() -%}
{{ docker__default_daemon_json | indent(2, true) }}
{%- endif -%}
{%- if (docker__default_daemon_json | default()) and (docker__daemon_json | default()) -%}
,
{%- endif -%}
{%- if docker__daemon_json | default() -%}
{{ docker__daemon_json | indent(2, true) }}
{%- endif -%}
}
